body * {
  font-family: 'Bangers';
  letter-spacing: .1em;
}

h2 {
  text-align: center;
  margin: 5px auto;
  font-family: 'Bangers';
  font-size: 2.5em;
}

input {
  border: 2px solid black;
  padding: 5px 11px;
}

input[placeholder]{
  font-weight:bold;
  text-align:center;
}

.btn {
  color: #000000;
  padding: 5px 10px;
  border: solid #000000 2px;
  text-decoration: none;
  &:hover {
    background: #fff;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.onLoggedOut > * {
  width: 15%;
  margin: 5px auto;
  padding: 10px;
  border: 6px double black;
}

.login {
  background: #f90;
  .btn {
    background: #f60;
    &:hover {
      background: #fff;
    }
  }
  & ::-webkit-input-placeholder {
    color: #000;
  }
}

.register {
  background: #9f0;
  .btn {
    background: #6f0;
    &:hover {
      background: #fff;
    }
  }
  & ::-webkit-input-placeholder {
    color: #000;
  }
}

.register form > *, .login form > *, .login button {
  display: block;
  margin: 10px auto;
}





